<div id="contactform" class="inactive">
  <h3>Contact Me</h3>
  <!-- <form role="form">
    <div class="form-group">
      <label for="yourname"></label>
      <input name="yourname" class="form-control" placeholder="NAME"/>
    </div>
    <div class="form-group">
      <label for="youremail"></label>
      <input name="youremail" class="form-control" placeholder="EMAIL"/>
    </div>
    <div class="form-group" style="padding-top: 20px;">
      <textarea name="yourmess" class="form-control" placeholder="MESSAGE" rows="10" cols="100"></textarea>
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
  </form> -->
  
  <%= form_for @contact do |f| %>
        <div class="form-group">
          <%= f.label :name %>
          <%= f.text_field :name, class: 'form-control' %>
        </div>
        <div class="form-group">
          <%= f.label :email %>
          <%= f.email_field :email, class: 'form-control' %>
        </div>
        <div class="form-group">
          <%= f.label :message %>
          <%= f.text_area :comments, class: 'form-control' %>
        </div>
        <%= f.submit 'Submit', class: 'btn btn-default' %>
      <% end %>
</div>