<!DOCTYPE html>
<html lang="en">
<head>
  <title>Josh Ludvigson</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href='https://fonts.googleapis.com/css?family=Raleway:400, 600' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link href='http://fonts.googleapis.com/css?family=Oswald:400,300' rel='stylesheet'>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body>
  <div class="headings">
    <div class="container">
      <div class="row">
        <h1>Josh Ludvigson </h1>
        <h3>Piping Designer <span style="color: #9acd32;">|</span> Drafter</h3>
      </div>
    </div>
  </div>

  <div class="navigation">
    <div class="container">
      <div class="row">
        <div class="col-md-4 navleft">
          <ul dir="rtl" class="mymark">
            <li id="linka"><%= link_to "Summary", summary_path, :id => "sum" %></li>
            <li id="linkb"><%= link_to "Education", education_path, :id => "edu" %></li>
            <li id="linkc"><%= link_to "Software", software_path, :id => "sof" %></li>
          </ul>
        </div>
        <div class="col-md-4">
          <%= link_to(image_tag("me.jpg", :class => "item", :alt => "home"), root_path, :id => "sum") %>
        </div>
        <div class="col-md-4 navright">
          <ul class="mymark">
            <li id="linka"><%= link_to "Projects", projects_path, :id => "pro" %></li>
            <li id="linkb"><%= link_to "Portfolio", portfolio_path, :id => "por" %></li>
            <li id="linkc"><%= link_to "Contact", new_contact_path, :id => "con" %></li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="details">
    <div class="container">
      <div class="row">
        
        <!-- Create the DIV swapping content here -->
        <div class="content">
          <% flash.each do |key, value| %>
            <%= content_tag :div, value, class: "alert alert-#{key}" %>
          <% end %>
          
          <%= yield %>
          
        </div>
      </div>
    </div>
  </div>
          

  <div class="footer">
    <div class="container">
      <div class="row">
        <p><%= link_to "Summary", summary_path, :id => "sum" %> - <%= link_to "Education", education_path, :id => "edu" %> - <%= link_to "Software", software_path, :id => "sof" %> - <%= link_to "Projects", projects_path, :id => "pro" %> - <%= link_to "Portfolio", portfolio_path, :id => "por" %> - <%= link_to "Contact", new_contact_path, :id => "con" %></p>
        <div class="leftfoot"><a href="http://www.joshludvigson.me">www.joshludvigson.me</a>  
          <span class="links">   
            <a href="https://ca.linkedin.com/in/josh-ludvigson-a8240b34"><%= image_tag("linkedin.png", :class => "linkedinimg", :alt => "Josh Ludvigson") %></a>
          </span>
          <p style="color: rgba(255,255,255,.5);">&copy 2015 - Developed by Josh Ludvigson</p>
        </div>
      </div>
    </div>
  </div>
  
</body>
</html>
